.navbar{
    background-color: #fff0d1;
    color: #795757;
    position: sticky;
    z-index: 1000;
    top: 0;
}
.navbar-brand{
    font-weight: bold;
    font-style: italic;
    color: #795757;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
.nav-link{
    color: #795757;
    font-weight: bold;
}
a .nav-link{
    color: #795757;
    font-weight: bold;  
}
element.style {
    color: #795757;
}

.myCarousel{
    gap: 20px;
    padding-top: 20px;
}
.carousel-item{
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;
    height: 500px;
}

.card img{
    border-radius: 10%;
    gap: 5px;
    height: 300px;
    object-fit: cover;
}
.card {
    width: 30%; 
    margin: 10px;
    border: none; 
    box-shadow: none;
    min-width: 250px;
  }
  .card-title {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    font-weight: 600;
    margin-top: 10px;
  }
  
  .card-group {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }

  .container{
    background-color: #3B3030;
    color: #fff0d1;
  }
  .conatiner li{
    color: #fff0d1;
  }
  .nav-item a{
    color: #fff0d1;
  }
.form-control {
    color: #795757;
    border-radius: 8px;
    border: 1px solid #795757;
  }
 
  .form-control::placeholder {
    color: #795757;
    opacity: 0.75;
  }
footer {
  background-color: #3B3030;
  width: 100%;
  padding-left: 20px;
  padding-right: 20px;
}
.nav-link {
  color: #795757;
  text-decoration: none;
}

.nav-link:hover {
  color: #795757;
  text-decoration: underline;
}
.container{
  margin-top: 20px;
}
.card-group .card{
border: none;
margin: 10px;
box-shadow: 0 4px 8px #3B3030;
border-radius: 10%;
transition: transform 0.3 ease,box-shadow 0.3 ease-in-out;
}
.card-group .card:hover{
  transform: translateY(-5px);
  box-shadow: 0 8px 16px #795757;
}
.nav-link:hover, .btn:hover{
transition: color 0.3 ease;
color: #af6d6d;
}
.newsletter-signup {
  margin-top: 40px;
  border-radius: 8px;
  padding: 20px;
  background: #3B3030;
  color: #fff0d1;
}
.card-group{
  overflow: visible;
}
